{% extends 'base.html' %}

{% block content %}



    <a class="text-decoration-none" href="{% url 'account:user_profile' post.user.id %}">{{ post.user|capfirst }}</a> @ <small>
    {{ post.updated|date:"d M Y - D H:m" }}</small> <br><br>

    <p>{{ post.body }}</p>

    {% if request.user.id == post.user.id %}
        <br>
        <a href="{% url 'home:post_delete' post.id %}" class="btn btn-danger">Delete</a>
        <a href="{% url 'home:post_update' post.id %}" class="btn btn-info">Update</a>
    {% endif %}
    <hr>

    <!-- comment -->
    {% if request.user.is_authenticated %}

        <!-- like -->
        <a href="{% url "home:post_like" post.id %}" class="{% if not can_like %}disabled{% endif %} btn btn-primary col-md-2">Like {{ post.likes_count }}</a><br>
        <br>

        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="btn btn-primary" type="submit" value="Send">
        </form>
    {% else %}
        <p class="text-danger">Only logged in user can comment</p>
    {% endif %}
    <br>

    {% for comment in comments %}
        <div class="card">
            <div class="card-header bg-dark text-white">{{ comment.user }} - {{ comment.created|timesince }}</div>
            <div class="card-body bg-light">{{ comment.body }}</div>

            <!-- reply form-->
            {% if request.user.is_authenticated %}
               <form action="{% url "home:reply_comment" post.id comment.id %}" method="post">
                    {% csrf_token %}
                    {{ form_reply.as_p }}
                    <input type="submit" value="reply">
                </form>
            {% endif %}

            <!-- replies -->
            {% with replies=comment.rcomment.all %}
                {% for reply in replies %}
                    <div class="bg-primary p-1 m-2">
                        <div class="bg-dark text-white p-2">{{ reply.user }} - {{ reply.created|timesince }}</div>
                        <div class="text-white m-3">{{ reply.body }}</div>
                    </div>
                {% endfor %}
            {% endwith %}

        </div>
        <br>
    {% empty %}
        <p>No comment yet</p>
    {% endfor %}


{% endblock %}