{% extends 'base.html' %}


{% block content %}

    <div class="row">
        <div class="col-md-12">

            <div class="card gedf-card">

                <div class="card-body">

                    {% if validlink %}
                        <form action="" method="post" novalidate>
                            {% csrf_token %}
                            {{ form.as_p }}
                            <input type="submit" value="Change">
                        </form>
                    {% else %}
                        <p>link is not valid!</p>
                    {% endif %}

                </div>

            </div>
        </div>

    </div>

{% endblock %}